<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
  </head>
  <body>
    {{> header}}
    <p>Name: {{name}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Average Rating: {{rating}}☆</p>
    <form action="/rate/{{id}}" method="GET">
      <input type="submit" value="Rate This User">
    </form>
    <p>
      {{#ratings}}
      <p>
        <div>Rating: {{value}}☆</div>
        <div>Comment: {{text}}</div>
      </p>
      {{/ratings}}
    </p>
    {{> footer}}
  </body>
</html>
